* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);*/
}
    
header{
    width: 100%;
    height: 130px;
    background-color: aliceblue;
}

nav{
    width: 100%;
    height: 5vh;
    background-color: transparent;
}

main{
    background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);
    width: 100%;
    height: 95vh;
}

#p1{
    margin-top: 1%;
    font-size: 15pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
}

form{
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 25%;
}

input[type="text"]{
    
    color: #000;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 100%;

}

input[type="email"]{
    
    color: #000;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 100%;

}

#bot{
    float: left;
    margin-left: 43%;
    width: 20%;
    height: 5vh;
    border-radius: 50px;
    background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);
    font-size: large;
    font-weight: bolder;
    border: 1px solid #000;
}

#bot p{
    text-align: center;
    margin-top: 13px;
}

textarea{
   
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #000;
    outline: none;
    background-color: transparent;
    color: #000;
}

footer{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
}
































@media only screen and (max-width: 863px) {
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);*/
}
    
header{
    width: 100%;
    height: 130px;
    background-color: aliceblue;
}

nav{
    width: 100%;
    height: 5vh;
    background-color: transparent;
}

main{
    background: linear-gradient(287.56deg, #437de2 0%, #16f9c1 100%);
    width: 100%;
    height: 95vh;
}

#p1{
    margin-top: 1%;
    font-size: 15pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
}

form{
    width: 75%;
    float: left;
    margin-top: 5%;
    margin-left: 12.5%;
}

input[type="text"]{
    
    color: #FFF;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 100%;

}

input[type="email"]{
    
    color: #FFF;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 100%;

}

textarea{
   
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #000;
    outline: none;
    background-color: transparent;
    color: #FFF;
}

footer{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
}
}























@media only screen and (max-width: 400px) {
    label{
        display: flex;
    }

    main{
        height: 178vh;
    }

    form{
        align-items: center;
    }
}